.pho{
    min-width: 1582px;min-height: 8350px;
    background: url('../../img/pho1.png') repeat;
   #banner{
        margin: 0 auto;width: 1200px;
        img{
            width: 1200px;height: 500px;
        }
   }
   .gd{
    padding-left: 45px;margin: 0 auto;width: 1200px;
   }
    .mlist{
        width: 1100px;margin: 0 auto;
        .mt{
            background: url('../../img/sp.fw.png') 0 -243px;
            width: 1100px;height: 82px;
        }
        .mb{
            padding-top: 50px;background: #FBC429;
            ul{
                li{
                    width: 270px;height: 368px;border:2px solid red;float: left;margin-left: 4px;background: #FF3D58;
                    .lt{
                        background:#F4F3EF;height: 310px;
                        img{
                            width: 265px;
                        }
                        p{
                            text-align: center;margin-top: 5px;
                        }
                    }
                    .lb{color:#FFFFF4;
                        .yuanjia{
                            opacity:0.6;
                            
                        }
                        .miaosha{
                            font-size: 30px;float: left;
                        }
                        .button{
                            float: right;
                            width: 80px;
                            height: 40px;
                            background: #FFC317;
                            font-size: 20px;
                            line-height: 40px;
                            margin-top: -20px;
                        }
                    }
                }
            }
        }
    }
} 